{% extends "Recetario/base.html" %}

{% load static %}

{% block main %}
<h1>¡Hola!</h1><br>

<p>Soy Flor, estudio la Lic. en Ciencias Físicas en la UBA y desarrollé esta página web en el contexto del Curso de Python de CoderHouse.<br>
    
    La idea de crear este recetario colaborativo surgió a partir de <a href="https://twitter.com/Reina__Mariel/status/1503873960596885511" class="text-black">este tweet</a>, un hilo donde la gente comparte sus mejores recetas... ¡y guardado por muchos de nosotros!<br><br>
    Este blog permite, de una manera mucho más organizada y sin límite de caracteres, que los usuarios publiquen sus recetas y accedan a un recetario completo para inspirarse día a día en la cocina.<br><br>

    Espero que lo disfrutes y... ¡Gracias por formar parte de esta comunidad!
</p>
{% endblock %}